doctype html

html
    head
        meta(charset='UTF-8')
        title 踪迹 At Your Feet
        style.
            html, body {
                background-color: rgba(0,0,0,0)
            }
    body
        #root